# API
PORT=5000

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5444
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# User
ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret

# JWT
TOKEN_KEY=super_secret

# Sequelize
FORCE_SYNC=true

# Telegram
TELEGRAM_BOT_TOKEN=